*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #fcfcfc;
	position: relative;
	min-height: 100%;
	color: #232323;
}

nav
{
	font-family: sans-serif;
	background-color: #ff4949;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}

#login
{
	width: 100%;
	display: none;
}

.myjumbotron {
	background-color: #E9ECEF;
	padding: 15px;
	/*border-radius: 10px;*/
}

#menu
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.fix {
	position: fixed !important;
 	width: 100%;
 	z-index: 10000;
  top: 0;
	overflow: hidden;
}

#menu_inferior
{
	display: none;
	width: 100%;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #ff4949;
	height: 110px;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 3px 1px 20px rgba(0, 0, 0, 0.1);
}


#hamburgesa
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 10px;
	display: none;
}
#hamburgesa img
{
	height: 65px;
}

.marcado
{
	border-bottom: 1px solid white;
}

#logo
{
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.nav_comp_logo a img
{
	padding: 15px;
}
.hvr-underline-from-left:before
{
	background: #423b3c;
}
.texto_login
{
	padding-bottom: 5px;
}
.btn_logout
{
	padding-left: 0px;
	background-color:black;
	color: white;
	padding: 2px 7px;
	text-align: center;
	border-radius: 6px;

}
.btn_logout:hover
{
	background-color: #696969;
}
.nav_comp_logo
{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 0px;
	text-align: center;
}
.nav_comp
{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
	text-align: center;
	padding-bottom: 40px;
}

.nav_comp a
{
	width: 100%;
	font-size: 17.41px;
	color: #423b3c;

}

.nav_comp a img
{
    width: 25px;
    vertical-align: text-bottom;
    margin-right: 4px;
}

.fit
{
	text-align: center;
	justify-content: center;
	font-weight: bold;
}

.fit span
{
	font-size: 40px;
	color: white;
}

.ms
{
	transition: all 0.5s;
	color: white;
}

.ms:hover
{
	color: black;
}

a
{
	text-decoration: none;
}


#menu-movil
{
	display: none;
	position: fixed;
	top:80px;
	width: 60%;
	background-color: #7f8c8d;
	font-size: 20px;
	box-shadow: 5px 0px 15px #000;
	z-index: 1000;
}

.menu-fondo
{
	position: fixed;
	top:0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	z-index: 999;
	display: none;
}
#menu-movil ul
{
width: 100%;
}
#menu-movil li
{
	letter-spacing: 2px;
	text-decoration: none;
	padding: 20px 5px;
	width: 96%;
	text-align: center;
	transition: all 0.5s;
	border-bottom: 1px solid #000;

}
#menu-movil li a
{
text-decoration: none;
color: #696969;
	font-weight: 100;
}
#menu-movil li:hover
{
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}

#contenido
{
	width: 100%;
	text-align: center;
    display: flex;
	flex-direction: column;
	align-items: center;
	/*margin-top: 2%;*/
}

#video
{
	width: 100%;
  height: 740px;
  background-color: black;
}

#video video
{
  	/*position: absolute;*/
  	display: block;
  	top: 110px;
  	left: 0px;
  	height: 740px;
  	width: inherit;
}

h1
{
	font-size: 40px;
	color: #696969;
	font-family: 'Asap', sans-serif;
}

h2
{
	font-size: 50px;
	color: #ff4949;
	/*border-bottom: 1px solid #696969;*/
	font-family: 'Asap', sans-serif;
}
h3, h4, h5, h6 {
	font-family: 'Hind', sans-serif;
}

#nuevos
{
	width: 99%;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	/*margin-top: 50px;*/
}

#coatchs
{
	width: 100%;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	background-color: #fcfcfc;
}

#nuevos .influencer img
{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	margin-left: 10%;
	transition: all 1s;
}

#nuevos .influencer img:hover
{
	width: 220px;
	height: 220px;
}

#influencers
{
	margin-top: 5px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 1%;
	justify-content: space-around;
	align-items: center;
}

.influencer
{
	background-color:  rgba(255,255,255,0);
	width: 420px;
	border-radius: 2px;
	color: black;
	margin: 20px;
	text-align: left;
	transition: all 1s;
	color: #696969;
	border-radius: 35px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.56);
}

.influencer_n
{
	background-color:  rgba(255,255,255,0);
	width: 250px;
	border-radius: 2px;
	color: black;
	margin: 20px;
	text-align: left;
	transition: all 1s;
	color: #696969;
	border-radius: 35px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.56);
}
.influencer:hover
{
	/*background-color:  rgba(255,255,255,1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.56);
	color: black;*/
}

.informacion_coatch_principal
{
	padding: 10px;
	    padding-bottom: 15px;
	background-color: #ff4242;
	border-radius: 33px 33px 0px 0px;
	text-align: center;
}

.informacion_coatch_principal_n
{
	padding: 10px;
	    padding-bottom: 15px;
	background-color: #424242;
	border-radius: 33px 33px 0px 0px;
	text-align: center;
}

.elige
{
	background-color: #424242;
	color: white;
	padding: 20px 0px 20px 0px;
}

.localizacion
{
	width: 20px !important;
	height: 20px !important;
	padding: 0!important;
	margin: 0!important;
	border-radius: 0!important;
	vertical-align: middle;
}



.influencer img
{
	width: 333px;
	height: 333px;
	border-radius: 100%;
	padding: 20px;
	margin-left: 30px;
	transition: all 1s;
}

.influencer_n img
{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	padding: 20px;
	margin-left: 30px;
	transition: all 1s;
}

.influencer img:hover
{
	/*width: 350px;
	height: 350px;
	opacity: 0.2;*/
}

.imagen
{
	width: 100%;
	background-color: #f6f6f6;
	border-radius: 0px 0px 33px 33px;
}
.nombre
{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
}

.datos
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
}

.titulo
{
	font-size: 15px;
	font-style: italic;
	margin-bottom: 10px;
}

.frase
{
	font-size: 15px;
	/*margin-top: 10px;
	margin-bottom: 10px;
*/}

#contenido_l
{
	width: 100%;
  display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2%;
}

#f_login
{
	width: 15%;
	display: flex;
	flex-wrap: wrap;
	background-color: #E9ECEF;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 5px;
}
#f_login h2
{
	width: 100%;
	flex: 1 1 100%;
	margin-bottom: 10px;
}

#f_login h3
{
	width: 100%;
	flex: 1 1 100%;
	margin-bottom: 10px;
}

#f_login label
{
	width: 100%;
	flex: 1 1 100%;
	margin-bottom: 5px;
}

#f_login input
{
	width: 100%;
	flex: 1 1 100%;
	height: 25px;
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
}


#f_login span
{
	text-align: center;
	font-size: 17px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.boton
{
	background: #ff4949;
	text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    padding: 10px 30px;
    white-space: nowrap;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    padding-bottom: 30px;
    font-size: 20px;
    border: 0;
		cursor: pointer;
}

.boton:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contenido_influencer
{
	width: 100%;
	text-align: center;
	margin-top: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

#contenido_influencer h1, h2
{
	width: 100%;
}
#informacion
{
	width: 100%;
	text-align: left;
	background-color: #696969;
	text-align: left;
	background-color:  rgba(255,255,255,1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	color: black;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#informacion #redes
{
	width: 20%;
	display: flex;
	justify-content: left;
	margin-top: 20px;
	margin-bottom: 10px;
}

.izquierda
{
	width: 70%;
}

.titulo_empieza
{
	display: flex;
	align-items: baseline;
}

#informacion h1
{
	width: 70%;
}

#informacion #redes img
{
	width: 30px;
	margin-right: 20px;
}

#informacion h2
{
	color: #696969;
	font-size: 20px;
	border-bottom: 0;
}


#informacion button
{
	background: #424242;
	text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    padding: 20px;
    white-space: nowrap;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-size: 20px;
    border: 0;
    margin: 20px;
}

#informacion button:hover
{
	background: white;
	color: #FF4548;
	border-style: solid;
	border-width: thin;
	border-color: #FF4548;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

#informacion #empieza
{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top:35%;
	left: 41%;
	width: 25%;
}

#empieza_botton
{
	width: 100%;
}

#empieza_botton img
{
	width: 100%;
}

#contenido_inf
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
		padding: 20px 100px 0px 100px;
}

#frase_in
{
	width: 100%;
	background-color: #ff4949;
	padding: 20px;
	text-align: center;
	margin-bottom: 100px;
}

#frase_in h1
{
	color:#424242;
}

.estilo_listas
{
	width: 45%;
	border: 2px solid gray;
	border-radius: 20px;
	margin-bottom: 50px;
	background-color: #F5F5F5;
}

.estilo_listas_titulo
{
	border-bottom: 2px solid gray;
}
.estilo_listas_titulo span
{
	font-weight: bold;
	font-size: 40px;
}

.estilo_listas_titulo img
{
	vertical-align:middle;
}
.estilo_listas div
{
	padding: 10px 0px 10px 20px;
}
ul
{
	margin-left: 20px;
}
ul li
{
	padding: 5px 0 5px 0;
}

.ordenador
{
	display: flex;
}

.movil
{
	display: none;
}


#foto_perfil_inpluencer
{
	width: 30%;
}

#foto_perfil_inpluencer img
{
	width: 100%;
	height: auto;
}

.fit_m
{
	display: none;
}

hr 
{
	width: 145%;
}

/*Listado de clientes*/
#search
{
	width: 100%;
	height: 30%;
	align-items: center;
	background-color: #424242; 
	color: white;
	display: flex;
	justify-content: center;
	font-size: 40px;
}

#search input
{
	width: 50%;
	height: 60px;
	border-radius: 20px;
	border:2px solid #424242;
	padding-left: 50px;
	margin-left: 10px;
	font-size: 30px;
	background-image:url(../images/search.png);
	background-repeat: no-repeat;
	background-size: 4%;
	background-position: 10px center;

}

#listado_clientes
{
	padding-bottom: 100px;
}

.cliente
{
	display: flex;
	margin: 0 50px 0 50px;
	padding: 20px;
	border-top: 1px solid #9c9c9c;
}

.cliente:first-child
{
	margin-top: 50px;
}

.cliente:nth-child(2n)
{
	background-color: #f2f2f2; 
}
.icono_cliente
{
	width: 7%;
}

.icono_cliente img
{
	width: 100%;
}

.datos_cliente
{
	width: 15%;
	padding-left: 40px;
}

.datos_cliente div
{
	width: 100%;
	margin-top: 20px;
	font-weight: lighter;
	display: flex;
}


.datos_cliente div:first-child
{
	margin-top: 0px;
	font-weight: bold;
	font-size: 30px;
}

.datos_cliente div span
{
	align-self: flex-start;
	font-size: 15px;
	color: #ff4949;
}
.boton_listado_cliente
{
	text-align: center;
	justify-content: center;
	padding: 20px;
	padding-right: 30px;
	width: 15%;
	display: flex;
	align-self: center;
}

.boton_listado_cliente div
{
	background-color: #ff4949;
	border: 2px solid #424242;
	color:white;
	padding: 15px;
	width: 100%;
	font-weight: bold;
	cursor: pointer;
}

.boton_listado_cliente div:hover
{
	background-color: #dc3232;
}


/*plantillas*/
#historial_de_dietas
{
	width: 60%;
	text-align: center;
	border: 3px solid #424242;
}

#historial_de_dietas th
{
	background-color: #ff4949;
	color: white;
	font-size: 35px;
	padding: 15px;
	font-weight: bold;
	border-bottom: 2px solid #424242;
}
#historial_de_dietas td
{
	border-bottom: 2px solid #424242;
}

#historial_de_dietas img
{
	width: 50px;
}

.add_plantillas
{
	font-size: 20px;
	padding: 10px;
	background-color: #f5ebeb;
	cursor: pointer;
}

.add_plantillas:hover
{
	font-weight: bold;
	font-size: 21px;

}

.add_plantillas img
{
	vertical-align: middle;
}

.info_dieta
{
	width: 80%;
	text-align: left;
	padding-left: 50px;
	font-size: 20px;

}

footer
{
	width: 100%;
	height: 50px;
	font-family: 'Hind', sans-serif;
	background-color: #303030;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
	position: absolute;
    bottom: 0;
	font-size: 12px;
}

footer span
{
	text-align: center;
	align-self: center;
}
@media screen and (max-width: 1600px) {
	#informacion
	{
		width: 100%;
		margin: 0;
	}
	#informacion #empieza
	{
		display: block;
	}
		#foto_perfil_inpluencer
	{
		width: 30%;
	}
		hr 
	{
		width: 100%;
	}

}


@media (max-width: 900px)
{
	hr 
	{
		width: 100%;
	}

	#foto_perfil_inpluencer
	{
		width: 25%;
		position: absolute;
		top: 0%;
		left: 75%;
	}
	#hamburgesa
	{
		display: flex;
	}

	.nomovil
	{
		display: none;
	}

	.fit_m
	{
		display: flex;
	}
	.texto_login
	{
		display: none;
	}
	#logo
	{
		padding-left: 40px;
	}
	#login a img
	{
	    width: 40px;
	}

	.nav_comp_logo
	{
		justify-content: center;
	}

	.nav_comp_logo a img
	{
		height: 40px !important;
	}

	.nav_comp:last-child
	{
		width: 60px;
	}


	.blogin
	{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: right;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.blogin a
	{
		width: 50px;
	}

	.blogin a img
	{
		width: 50px;
	}

	#menu-movil
	{
		display:flex;
	}

	#menu_inferior
	{
		display: flex;
	}

	.menu-fondo
	{
		display: inline-block;
	}

	.fit_user
	{
		display: none;
	}

	.fit
	{
		display: none;
	}

	#video video
	{
		height: 32vh;
	}

	h1
	{
		font-size: 35px;
	}

	h2
	{
		font-size: 30px;
	}


	footer
	{
		height: 80px;
	}
	.ordenador
	{
		display: none;
	}

	.movil
	{
		display: flex;
	}

	#empieza
	{
		top: 18% !important;
	    left: 31% !important;
	    width: 58%;
	}

	.izquierda
	{
		width: 100%;
		padding: 10px;	
	}
	#informacion
	{
		padding: 0px;
	}

	#formacion
	{
		width: 100%;
		margin-top: 120px;
	}

	.estilo_listas
	{
		width: 100%;
		margin-top: 100px;
		text-align: center;
	}

	.estilo_listas ul
	{
		list-style-type: none;
	}
	#contenido_inf
	{
		padding: 20px 0px 0px 0px;
	}
	#contenido_influencer
	{
		margin-top: 70px !important;
		width: 100%;
	}

}

@media (max-width: 414px)
{
	#empieza
	{
		left: 15% !important;
		top: 22% !important;
		width: 70%;
	}

	#foto_perfil_inpluencer
	{
		width: 44%;
		left: 56%;
	}

	hr
	{
		width: 99%;
	}
}


/*quitar la superposicion de la foto*/
